.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}

.portfolio li .title.cristal::before, 
.portfolio li .title.carro::before,
.portfolio li .title.github::before, 
.portfolio li .title.jogo::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio li .title.cristal::before {
    background-image: url('/assets/img/icons/cristal.svg');
}

.portfolio li .title.github::before {
    background-image: url('/assets/img/icons/github.svg');
}


.portfolio li .title.carro::before {
    background-image: url('/assets/img/icons/carro.svg');
}
 
.portfolio li .title.jogo::before {
    background-image: url('/assets/img/icons/jogo.svg');
}